{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}

	<div class="debut_panier">
		<h1 style="margin:40px;color:darkred;">Votre Panier</h1>
		<div class="invisible_panier"></div>
		<button onclick="viderPanier()" class="vider_panier">Vider le Panier</button>
	</div>
	<div class="selectionner_tout_panier">
		<input type="checkbox" id="selectAll">
		<label for="selectAll">
			Tout séléctionner
		</label>
	</div>
	{% if panier is empty %}
		<h2 class="panier_vide">Votre panier est vide...Pensez à
			<a href="{{path('produits_par_categorie', {categoryId: 1})}}" class="panier_vide">continuer vos achats:
			</a>
		</h2>
	{% else %}
		<div class="structure_panier">
			<ul class="ul_panier">
				{% for item in panier %}
					<li
						class="liste_panier">
						<!-- Ajouter une case à cocher -->
						<input type="checkbox" class="product-checkbox" name="selected_products[]" value="{{ item.id }}" data-taille="{{item.id}}{{item.taille}}" onchange="updateTotal()">

						<img src="{{ asset('img/' ~ item.image) }}" alt="{{ item.description }}" width="250" height="250">
						<h4 class="descriptionArticle">{{ item.description }}</h4>

						<h4 class="sousTitres-panier {{item.taille == 'taille_unique' ? 'non_visible' : ''}}">
							Taille :
							<span class="tailles" id="taille{{item.id}}{{item.taille}}">{{item.taille}}</span>
						</h4>

						<!-- Prix initial -->
						<h4 class="sousTitres-panier">Prix:<span id="prix{{item.id}}{{item.taille}}" class="item-prix">{{ item.prix }}
							</span>€
						</h4>

						<!-- Ajout du champ de quantité -->
						<label for="quantity{{ item.id }}" class="sousTitres-panier">Quantité:</label>
						<input
						style="width:250px; background-color:pink;" type="number" id="quantity{{ item.id }}{{item.taille}}" name="quantity{{ item.id }}" min="1" value="1" data-id="{{ item.id }}{{item.taille}}" class="quantity-input">

						<!-- Mise à jour du prix en fonction de la quantité -->
						<h4 class="sousTitres-panier">Total:
							<span id="total{{ item.id }}{{item.taille}}">{{ item.prix }}
								€</span>
						</h4>


						<a href="{{ path('supprimer_du_panier', {'id': item.id}) }}" class="supprimer_panier">Supprimer</a>

					</li>
				{% endfor %}


			</ul>

			<div class="infos_panier">

				<div class="espace_livraison"></div>


				<div>
					<label class="livraison_label">Type de Livraison :</label>
				</div>

				<select id="livraison" name="livraison" onchange="updateTotal()" class="livraison_panier_select">
					<option value="point_relais" data-prix="3.5">Livraison en Point Relais: 3.5 €</option>
					<option value="standard" data-prix="4">Livraison Standard: 4 €</option>
					<option value="express" data-prix="6.90">Livraison Express : 6.90 €</option>
				</select>

				<!-- Bouton pour calculer le total des produits sélectionnés -->
				<div style="visibility: hidden;">
					<button type="button" onclick="calculerTotal()">Total:</button>
				</div>
				<hr class="hr_panier">
				<h2 id="total-prix"></h2>

				{% if app.user %}
					<button class="bouton_commande" id="passer_commande">Passer Ma Commande</button>
				{% else %}
					<button class="bouton_commande">
						<a href="{{path('app_login', 'panier': "retour_panier")}}">Passer Ma Commande</a>
					</button>
				{% endif %}
				<script>
					document.getElementById('passer_commande').addEventListener('click', function () { // Redirection vers l'URL de la route 'account_address'
window.location.href = "{{ path('confirmation_commande') }}";
});
				</script>


			</div>
		</div>

	{% endif %}

{% endblock %}
