{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<nav>
		<ul>
			<li>
				<a href="{{path('produits_par_categorie', {categoryId: 1})}}">Vetements</a>
			</li>
			<div><img src="{{ asset('img/logo.png') }}" alt=""></div>
			<li>
				<a href="{{path('produits_par_categorie', {categoryId: 2})}}">Maquillage</a>
			</li>
			<div><img src="{{ asset('img/logo_maquillage.png') }}" alt=""></div>
			<li>
				<a href="{{path('produits_par_categorie', {categoryId: 3})}}">Bijoux</a>
			</li>
			<div><img src="{{ asset('img/bague_logo.png') }}" alt=""></div>
			<li>
				<a href="{{path('produits_par_categorie', {categoryId: 4})}}">Montres</a>
			</li>
			<div><img src="{{ asset('img/montres_logo.png') }}" alt=""></div>
		</ul>
	</nav>


	{% if app.request.attributes.get('_route') == 'app_home' %}
		<h3>Notre séléction Make Up</h3>
		<div class="liste_produits">
			{% for produit in produits %}
				<div class="makeup_liste">
					<div>
						<img src="{{ asset('img/' ~ produit.image) }}" alt="{{ produit.description }}" width="400" height="400">
					</div>
					<h2 style="width:350px;margin-left:20px;">{{ produit.description }}</h2>
				</div>
			{% endfor %}
		</div>

		<div class="d-flex justify-content-around align-items-center">


			<h1 class="ecritureCarousel">Une vaste collection de vetements pour une élégance magnifique et une beauté impréssionnante</h1>

			<div id="carouselVetements" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					{% set firstItem = true %}
					{% for vetement in vetements %}
						<div class="carousel-item {{firstItem ? 'active'}}">
							<img src="{{asset('/img/' ~ vetement.image)}}" class="d-block w-100" alt="">
						</div>
						{% set firstItem = false %}
					{% endfor %}

				</div>
				<a class="carousel-control-prev" href="#carouselVetements" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselVetements" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<h1 class="ecritureCarousel">Des différentes choix et styles pour toutes les gouts et toutes les envies!</h1>


		</div>
		<h3>Nos Promotions de Coffrets Bijoux </h3>
		<div class="d-flex justify-content-around" class="promo-bijoux">


			{% for produit in bijoux %}
				<div class="coffre1">
					<div>
						<img src="{{ asset('img/' ~ produit.image) }}" alt="{{ produit.description }}" width="400" height="400">
					</div>
					<h2 style="width:400px;margin-left:20px;">{{ produit.description }}</h2>
					<div class="promo1">
						OFFRE EXEPCIONNELLE
					</div>
					<div class="promo2">PROMO
					</div>

				</div>
			{% endfor %}

		</div>
		<h3>Nos Montres Incontournables à prix Raisonnable </h3>

		<div class="d-flex justify-content-around" class="block_watch">


			{% for produit in montres1 %}
				<div class="montresAcceuil">
					<div>
						<img src="{{ asset('img/' ~ produit.image) }}" alt="{{ produit.description }}" width="400" height="400">
					</div>
					<h2 style="width:400px;margin-left:20px;">{{ produit.description }}</h2>


				</div>
			{% endfor %}

		</div>


		<div class="d-flex justify-content-around" class="block_watch">


			{% for produit in montres2 %}
				<div class="montresAcceuil">

					<div>
						<img src="{{ asset('img/' ~ produit.image) }}" alt="{{ produit.description }}" width="400" height="400">
					</div>
					<h2 style="width:400px;margin-left:20px;">{{ produit.description }}</h2>


				</div>
			{% endfor %}

		</div>


		<div class="d-flex justify-content-around">


			{% for logo in logos %}
				<div class="block_footer">

					<div>
						<img src="{{ asset('img/' ~ logo.imageLogo) }}" width="400" height="400">
					</div>
					<h2 style="width:290px;">{{ logo.descriptionLogo}}</h2>

				</div>
			{% endfor %}

		</div>


		<div class="block_footer2">
			<div class="partie_finale">
				<h1>A Propos De Nous</h1>
				<p>Chic Mademoiselle est un site crée et fait  spécialement pour les jeunes filles et les femmes  afin de leur donner l'oppurtinité 
				 de faire leurs Shopping en ligne sans avoir besoin de se déplacer  ou perdre leur temps précieux  , dans notre site tout ça se passe avec des simples cliques 
			    c'est  simple ,pratique et très efficace !  Le site est crée avec beaucoup d'amour afin de créer un monde  d'achat en ligne à nos mamans,femmes et filles pour faciliter leur vie
				</p>

			</div>
			<div class="partie_finale">
				<div class="contact_final">
					<h1>Nous Contacter</h1>
					<i class="fa-solid fa-envelope"></i>
					<i class="fa-solid fa-phone"></i>
				</div>
				<p>
					Pour toute question ou demande par rapport à votre commande , si vous rencontrez des difficultés lors de votre achat ou en cas de retard de livraisoin ou pour toute autre demande ,Vous pouvez nous rejoindre en nous envoyant un message sur notre boite Email suivante : chic_mademoiselle@gmail.com ou vous pouvez également 
				    contacter une de nos conseilleres du service téléphonique qui peut également vous répondre sur touts vos questions , en appelant le numéro suivant:+33 6 51 48 90 88
				</p>
			</div>

		</div>


	{% endif %}


{% endblock %}
