{% extends 'base.html.twig' %}

{% block title %}Hello !
{% endblock %}

{% block body %}

	{% if app.request.attributes.get('_route') == 'app_home' %}
		<div id="carouselVetements" class="carousel slide" data-ride="carousel" data-interval="2000">
			<div class="carousel_inner carousel_front">
				{% set firstItem = true %}
				{% for carousel in carouselImages %}
					<div class="carousel-item {{firstItem ? 'active'}}">
						<img src="{{asset('/img/' ~ carousel.image)}}" class="d-block w-100" class="image_front_carousel" alt="">
					</div>
					{% set firstItem = false %}
				{% endfor %}

			</div>
			<a class="carousel-control-prev" href="#carouselVetements" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselVetements" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

		<h3>Notre séléction Make Up</h3>
				
		<section class=" position-relative d-block m-auto section_makeup  ">
			<div class="container "> 
				<div class="row">
					<div class="col-12">
						<div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel" data-interval="false">
							<div class="carousel-inner liste_produits">
								{% for produit_chunk in produits|batch(3) %}
								<div class="carousel-item carousel-makeup {% if loop.first %}active{% endif %}">
									<div class="row text-left produit-card">
										{% for produit in produit_chunk %}
										<div class="col-md-4 mb-3">
											<div class="card ml-md-auto card-maquillage"> <!-- Utilisation de ml-md-auto pour décaler vers la gauche sur les écrans de taille moyenne et plus grands -->
												<img class="img-fluid" alt="{{ produit.description }}" src="{{ asset('img/' ~ produit.image) }}">
												<div class="card-body descriptionMakeupIndex">
													<h4 class="card-title">{{ produit.description }}</h4>
													<a href="{{ path('afficher_produit', {'id': produit.id}) }}" class="btn  btn-block voirProduit">Voir le produit</a>
												</div>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
								{% endfor %}
							</div>
							<a class="  mb-3 mr-1  bouton-gauche" href="#carouselExampleIndicators2" role="button" data-slide="prev">
								<i class="fa fa-arrow-left"></i>
							</a>
							<a class="  mb-3 position-absolute bouton-droite" href="#carouselExampleIndicators2" role="button" data-slide="next">
								<i class="fa fa-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>





		{# <div class="carousel">
																											<div class="carousel-inner">
																												{% for produit in produits %}
																													<div class="carousel-item">
																														<div>
																															<img src="{{ asset('img/' ~ produit.image) }}" alt="{{ produit.description }}" width="400" height="400">
																														</div>
																														<h2 style="width:350px;margin-left:20px;">{{ produit.description }}</h2>
																														<a href="{{ path('afficher_produit', {'id': produit.id}) }}" class="bouton_home">Voir le produit</a>
																													</div>
																												{% endfor %}
																											</div>
																											<div class="carousel-controls">
																												<button onclick="moveCarousel(-1)">Précédent</button>
																												<button onclick="moveCarousel(1)">Suivant</button>
																											</div>
																										</div> #}


		{# <div class="flex-caroussel">
																																					<button class="prev">❮</button>
																																					<div class="carousel-container">
																																						{% for produit in produits %}
																																							<div class="card-flex">
																																								<div>
																																									<img src="{{ asset('img/' ~ produit.image) }}" alt="{{ produit.description }}">
																																								</div>
																																								<h2 style="width:350px;margin-left:20px;">{{ produit.description }}</h2>
																																								<a href="{{ path('afficher_produit', {'id': produit.id}) }}" class="bouton_home">
																																									Voir le produit
																																								</a>
																																							</div>
																																						{% endfor %}
																																					</div>
																																					<button class="next">❯</button>
																																				</div> #}


		<div class=" d-flex justify-content-around align-items-center">


			<h1 class="ecritureCarousel">Une vaste collection de vetements pour une élégance magnifique et une beauté impréssionnante</h1>

			<div id="carouselVetements2" class="carousel slide" data-ride="carousel" data-interval="2000">
				<div class="carousel-inner">
					{% set firstItem = true %}
					{% for vetement in vetements %}
						<div class="carousel-item carouselVetements {{firstItem ? 'active'}}">
							<img src="{{asset('/img/' ~ vetement.image)}}" class="d-block w-100" alt="">
						</div>
						{% set firstItem = false %}
					{% endfor %}

				</div>
				<a class="carousel-control-prev" href="#carouselVetements2" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselVetements2" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<h1 class="ecritureCarousel">Des différentes choix et styles exposés spécialement pour vous , toutes les gouts et toutes les envies!</h1>


		</div>
		<h3>Nos Promotions de Coffrets Bijoux
		</h3>
		{# <div class="d-flex justify-content-around" class="promo-bijoux">
																																																				
																																																				
																																																							{% for produit in bijoux %}
																																																								<div class="coffre1">
																																																									<div>
																																																										<img src="{{ asset('img/' ~ produit.image) }}" alt="{{ produit.description }}" width="400" height="400">
																																																									</div>
																																																									<h2 style="width:400px;margin-left:20px;">{{ produit.description }}</h2>
																																																									<div class="promo1">
																																																										OFFRE EXEPCIONNELLE
																																																									</div>
																																																									<div class="promo2">PROMO
																																																									</div>
																																																				
																																																								</div>
																																																							{% endfor %}
																																																				
																																																						</div> #}

		<div class="d-flex justify-content-around blockBijoux" >
			{% for produit in bijoux %}
				<div class="coffre1">
					<a href="{{ path('afficher_produit', {'id': produit.id}) }}">
						<div>
							<img src="{{ asset('img/' ~ produit.image) }}" alt="{{ produit.description }}" width="350" height="350">
						</div>
						<h2 class="description_bijoux_index">{{ produit.description}}</h2>
						<div class="promo1">OFFRE EXCEPTIONNELLE</div>
						<div class="promo2">PROMO</div>
					</a>
				</div>
			{% endfor %}
		</div>

		<h3>Nos Montres Incontournables à prix Raisonnable
		</h3>
		{# 
																																																				<div class="d-flex justify-content-around" class="block_watch">
																																															
																																															
																																																					{% for produit in montres1 %}
																																																						<div class="montresAcceuil">
																																																							<div>
																																																								<img src="{{ asset('img/' ~ produit.image) }}" alt="{{ produit.description }}" width="400" height="400">
																																																							</div>
																																																							<h2 style="width:400px;margin-left:20px;">{{ produit.description }}</h2>
																																															
																																															
																																																						</div>
																																																					{% endfor %}
																																															
																																																				</div>
																																															
																																															
																																																				<div class="d-flex justify-content-around" class="block_watch">
																																															
																																															
																																																					{% for produit in montres2 %}
																																																						<div class="montresAcceuil">
																																															
																																																							<div>
																																																								<img src="{{ asset('img/' ~ produit.image) }}" alt="{{ produit.description }}" width="400" height="400">
																																																							</div>
																																																							<h2 style="width:400px;margin-left:20px;">{{ produit.description }}</h2>
																																															
																																															
																																																						</div>
																																																					{% endfor %}
																																															
																																																				</div> #}

		<div class="d-flex justify-content-around block_watch">

			{% for produit in montres1 %}
				<div class="montresAcceuil">
					<a href="{{ path('afficher_produit', {'id': produit.id}) }}">
						<div>
							<img src="{{ asset('img/' ~ produit.image) }}" alt="{{ produit.description }}" width="400" height="400">
						</div>
						<h2 class="description_montres_index">{{ produit.description }}</h2>
					</a>
				</div>
			{% endfor %}

		</div>

		<div class="d-flex justify-content-around block_watch">

			{% for produit in montres2 %}
				<div class="montresAcceuil">
					<a href="{{ path('afficher_produit', {'id': produit.id}) }}">
						<div>
							<img src="{{ asset('img/' ~ produit.image) }}" alt="{{ produit.description }}" width="400" height="400">
						</div>
						<h2 style="width:400px;margin-left:20px;color:black;">{{ produit.description }}</h2>
					</a>
				</div>
			{% endfor %}

		</div>


		<div class="d-flex justify-content-around logos_footer">


			{% for logo in logos %}
				<div class="block_footer">

					<div>
						<img src="{{ asset('img/' ~ logo.imageLogo) }}" width="" height="">
					</div>
					<h2>{{ logo.descriptionLogo}}</h2>

				</div>
			{% endfor %}

		</div>


	{% endif %}


{% endblock %}
