{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
	{% set showNav = true %}
	{% include "home/index.html.twig" %}

	<h2 class="phrase_produits">
		{{test}}
	</h2>
	<div class="recherche" style="margin-bottom:30px;">
		<input type="text" id="searchInput" placeholder="Tapez votre produit">
		<div id="searchResults"></div>
	</div>
	<div class="listeProduits">
		{% for produit in produits %}
			<div>
				<div>
					<img src="{{ asset('img/' ~ produit.image) }}" alt="{{ produit.description }}" width="400" height="400"></div>
				<h2 style="width:400px;">
					{{ produit.description }}
				</h2>
				<div style=";">
					<a href="{{ path('ajouter_au_panier', {'id': produit.id}) }}" class="ajouter_au_panier">
						Ajouter au Panier


					</a>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
				<a href="{{ path('afficher_produit', {'id': produit.id}) }}" class="voir_detail">
					Voir Plus de détails sur ce produit
				</a>
				           
				<input name="qte" type="number" value="1"  id="field{{ produit.id }}">
				<button class="btn btn-warning" id="form{{ produit.id }}">
					<i class="fa fa-cart-arrow-down"></i>
				</button> 
			</div>
			<script>
				window.addEventListener("load", () => {
					//console.log($("#field{{ produit.id }} [name='qte']").val());
					$("#form{{ produit.id }}").on("click",(evtSubmit) => {
						evtSubmit.preventDefault();
						$.ajax({
							url: "{{ path('ajout_panier', {id: produit.id}) }}",
							data: "qte=" + 1,
							type: 'POST',
							dataType: "json",
							success: (data) => {
								$("#nombre").html(data);
								console.log("nb produits dans le panier = " + data);
							},
							error: (jqXHR,status, error) => {
								console.log("ERREUR AJAX" , status,error);
							}
						});
					});
				});
			</script>
		{% endfor %}
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var recherche = document.getElementById("searchInput");
		var articleNames = document.querySelectorAll("h2");

		recherche.addEventListener("input", function () {
			var searchTerm = recherche.value.toLowerCase();

			articleNames.forEach(function (articleName) {
			var articleTitreName = articleName.textContent.toLowerCase();
			if (articleTitreName.includes(searchTerm)) {
					articleName.parentElement.style.display = "block";
					console.log('oui');
				} else {
					console.log('non');
					articleName.parentElement.style.display = "none";
				}
			});
		});
	});
</script>{% endblock %}

{% block javascripts %}
  

{% endblock %}
