{% extends 'base.html.twig' %}
{% block title %} Liste de Produits {% endblock %}
{% block body %}
	{% set showNav = true %}
	{% include "home/index.html.twig" %}

	<h2 class="phrase_produits">
		{{phrase}}
	</h2>
	<div class="recherche" style="margin-bottom:30px;">
		<input type="text" id="searchInput" placeholder="Tapez votre produit">
		<div id="searchResults"></div>
	</div>
	<div class="listeProduits">
		{% for produit in produits %}
			<div >
				<div>
					<img src="{{ asset('img/' ~ produit.image) }}" alt="{{ produit.description }}"></div>
				<h2 class="description_produits">
					{{ produit.description}}
				</h2>
				{% if produit.category.id == 2 %}
					<div class="ajouter_panier_div">
						<a href='' data-id={{produit.id}} class="ajouter_au_panier">
							Ajouter au Panier
						</a>
						<i class="fa-solid fa-cart-shopping"></i>
					</div>
				{% endif %}
				<a href="{{ path('afficher_produit', {'id': produit.id}) }}" class="voir_detail">
					Voir Plus de détails sur ce produit
				</a>
			</div>

		{% endfor %}
		{% if produits.hasPreviousPage %}
			<a href="{{ path('produits_par_categorie', {'categoryId': categoryId,'page': produits.previousPage}) }}" class="pagination">Précédent</a>
		{% endif %}
		{% if produits.hasNextPage %}
			<a href="{{ path('produits_par_categorie', {'categoryId': categoryId,'page': produits.nextPage}) }}" class="pagination">Suivant</a>
		{% endif %}

	</div>


	<script>
		document.addEventListener("DOMContentLoaded", function () {
var recherche = document.getElementById("searchInput");
var articles = document.querySelectorAll(".listeProduits div");

recherche.addEventListener("input", function () {
var searchTerm = recherche.value.trim().toLowerCase(); // Assurez-vous de supprimer les espaces blancs

articles.forEach(function (article) {
var articleNameElement = article.querySelector("h2");
if (articleNameElement) { // Vérifie si l'élément h2 existe
var articleName = articleNameElement.textContent.trim().toLowerCase();
// Assurez-vous de supprimer les espaces blancs
// Vérifiez si le terme de recherche est inclus dans le titre de l'article
if (articleName.includes(searchTerm)) {
article.style.display = "block";
} else {
article.style.display = "none";
}
}
});
});
});
	</script>
{% endblock %}
{% block javascripts %}{% endblock %}
