<header>
	{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
	
	<nav class="navbar navbar-expand-custom-lg container-fluid position-relative">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('app_home') }}">
				<img src="{{ asset('img/logo_img2.png') }}" alt="" width="180" height="150">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse mb-4" id="navbarScroll">
				<ul class="navbar-nav me-auto my-2 my-lg-0 " >
					<li class="nav-item">
						<a class="titre_site nav-link active " aria-current="page" href="{{ path('app_home') }}">
							Chic Mademoiselle
						</a>
					</li>

					<li class="nav-item dropdown">
						{% if app.user %}
							<a class="nav-link nav-liens" href="{{ path('app_logout') }}" role="button" aria-expanded="false">
								Se Déconnecter
							</a>
						{% else %}
							<a class="nav-link dropdown-toggle nav-liens" href="{{ path('app_login') }}" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Se Connecter
							</a>
						{% endif %}
						<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">

							<li>
								<a class="dropdown-item active inscription " href="{{ path('app_register') }}">
									Inscription
								</a>
							</li>
							<li>
								<a class="dropdown-item active connexion" href="{{ path('app_login') }}">
									Connexion
								</a>
							</li>
						</ul>
					</li>
					<i class="fa-solid fa-user"></i>
					<li class="nav-item panier_nav">
						<a class="nav-link nav-liens " href="{{ path('afficher_panier') }}">

							<div>Panier
								<i class="fa-solid fa-cart-shopping"></i>
							</div>


						</a>

					</li>

					<span class="nombreArticlesPanier" id="nombre">{{app.session.get('nbArticles','')}}</span>
					<li class="nav-item">
						<a class="nav-link nav-liens " href="#footer" tabindex="-1" aria-disabled="true">
							Contact
						</a>
					</li>
					<i class="fa-solid fa-envelope"></i>
					
 
					<div class="navbar-nav ml-auto user-info">
						{% if app.user %}
							<span class="navbar-text">
								<h6 class="welcome-message ">Bienvenue,
									{{ app.user.prenom }}!</h6>
								<h6 class="email-message">Votre adresse email est
									{{ app.user.email }}</h6>
								
							</span>
						
						{% endif %}
					</div>


					{# <li class="nav-item">
																																																													<a class="nav-link nav-liens" href="{{ path('afficher_panier') }}">
																																																														Panier
																																																														{% if currentPath == "/" %}
																																																															<div id="nombre"></div>
																																																														{% else %}
																																																															<div id="nombr"></div>
																																																														{% endif %}
																																																													</a>
																																																												</li>
																																																												<i class="fa-solid fa-cart-shopping"></i> #}
				</ul>
				{# <form class="d-flex">
																																													<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
																																													<button class="btn btn-outline-success" type="submit">
																																														Search
																																								
																																								
																																													</button>
																																												</form> #}
			</div>
		</div>
	</nav>
</header>
{# <nav class="nav2">
	<ul>
		<li>
			<a href="{{path('produits_par_categorie', {categoryId: 1})}}">Vetements</a>
		</li>
		<div><img src="{{ asset('img/logo.png') }}" alt=""></div>
		<li>
			<a href="{{path('produits_par_categorie', {categoryId: 2})}}">Maquillage</a>
		</li>
		<div><img src="{{ asset('img/logo_maquillage.png') }}" alt=""></div>
		<li>
			<a href="{{path('produits_par_categorie', {categoryId: 3})}}">Bijoux</a>
		</li>
		<div><img src="{{ asset('img/bijoux_logo.png') }}" alt=""></div>
		<li>
			<a href="{{path('produits_par_categorie', {categoryId: 4})}}">Montres</a>
		</li>
		<div><img src="{{ asset('img/montres_logo.png') }}" alt=""></div>
	</ul>
</nav> #}

<nav class="nav2">
    <ul>
        <li>
            <a href="{{path('produits_par_categorie', {categoryId: 1})}}">Vêtements</a>
            <div><img src="{{ asset('img/logo.png') }}" alt=""></div>
        </li>
        <li>
            <a href="{{path('produits_par_categorie', {categoryId: 2})}}">Maquillage</a>
            <div><img src="{{ asset('img/logo_maquillage.png') }}" alt=""></div>
        </li>
        <li>
            <a href="{{path('produits_par_categorie', {categoryId: 3})}}">Bijoux</a>
            <div><img src="{{ asset('img/bijoux_logo.png') }}" alt=""></div>
        </li>
        <li>
            <a href="{{path('produits_par_categorie', {categoryId: 4})}}">Montres</a>
            <div><img src="{{ asset('img/montres_logo.png') }}" alt=""></div>
        </li>
    </ul>
</nav>

