<header>
	{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

	<nav class="navbar navbar-expand-custom-lg container-fluid position-relative">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('app_home') }}">
				<img src="{{ asset('img/logo_img2.png') }}" alt="" width="180" height="150">
			</a>
			<div>
				<a class="titre_site nav-link active " aria-current="page" href="{{ path('app_home') }}">
					Chic Mademoiselle
				</a>
			</div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse mb-4" id="navbarScroll">
				<ul class="navbar-nav me-auto my-2 my-lg-0 ">

					<li class="nav-item dropdown">
						{% if app.user %}
							<a class="nav-link nav-liens" href="{{ path('app_logout') }}" role="button" aria-expanded="false">
								<div>Se Déconnecter
									<i class="fa-solid fa-user"></i>
								</div>
							</a>

						{% else %}

							<a class="nav-link dropdown-toggle nav-liens" href="{{ path('app_login') }}" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<div>Se Connecter
									<i class="fa-solid fa-user"></i>
								</div>
							</a>

						{% endif %}
						<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">

							<li>
								<a class="dropdown-item active inscription " href="{{ path('app_register') }}">
									Inscription
								</a>
							</li>
							<li>
								<a class="dropdown-item active connexion" href="{{ path('app_login') }}">
									Connexion
								</a>

							</li>
						</ul>
					</li>

					<li class="nav-item panier_nav">
						<a class="nav-link nav-liens " href="{{ path('afficher_panier') }}">

							<div>Panier
								<i class="fa-solid fa-cart-shopping"></i>
							</div>
							<span class="nombreArticlesPanier m-1" id="nombre">{{app.session.get('nbArticles','')}}</span>

						</a>

					</li>
					<li class="nav-item" id="pan">
						<a class="nav-link nav-liens " href="#footer" tabindex="-1" aria-disabled="true">
							<div>Contact
								<i class="fa-solid fa-envelope"></i>
							</div>
						</a>

					</li>


					{# <div class="navbar-nav ml-auto user-info">
																				{% if  app.user %}
															
																					{% if  'ROLE_ADMIN' in app.user.roles %}
																						<span class="navbar-text">
																							<h6 class="welcome-message" id="hello">Bienvenue ADMIN</h6>
																							<h6 class="email-message">Votre adresse email est
																								{{ app.user.email }}</h6>
															
																						</span>
															                         {% else %}
																					  <span class="navbar-text">
																							<h6 class="welcome-message" id="hello">Bienvenue 
																								{{ app.user.prenom }}!</h6>
																							<h6 class="email-message">Votre adresse email est
																								{{ app.user.email }}</h6>
															
																						</span>
																					{% endif %}
																				{% endif %}
																				</div> #}
					{# 
					                    {% if  app.user %}
										<li class="nav-item "  id="hello">
											<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												<div class=" ml-auto user-info">
													
					
														{% if  'ROLE_ADMIN' in app.user.roles %}
															<span class="navbar-text">
																<h6 class="welcome-message">Bienvenue ADMIN</h6>
					
					
															</span>
														{% else %}
															<span class="navbar-text">
																<h6 class="welcome-message" id="hello">Bienvenue
																	{{ app.user.prenom }}!</h6>
					
															</span>
														{% endif %}
													
												</div>
											</a>
											<ul class="dropdown-menu">
												<li>
													<a class="dropdown-item listeCommandes" href="{{ path('liste_commande') }}">Voir la liste de mes achats</a>
												</li>
					
											</ul>
										</li>
					
										{% endif %} #}


					{% if  app.user %}


						<div class="dropdown" id="hello">


							{% if  'ROLE_ADMIN' in app.user.roles %}
								<button class="btn dropdown-toggle welcome-message" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Bienvenue ADMIN
								</button>


							{% else %}
		
								<button class="btn  dropdown-toggle welcome-message" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Bienvenue
									{{ app.user.prenom }}!
								</button>
							{% endif %}
							<div class="dropdown-menu listeCommandes" aria-labelledby="dropdownMenuButton" style="margin-left:17%;">
								<a class="dropdown-item " href="{{ path('liste_commande') }}">Voir la liste de mes achats</a>

							</div>
						</div>
					{% endif %}


				</ul>


			</div>
		</div>
	</nav>
</header>


<nav class="nav2">
	<ul>
		<li>
			<a href="{{path('produits_par_categorie', {categoryId: 1})}}">Vêtements</a>
			<div>
				<img src="{{ asset('img/logo.png') }}" alt="">
			</div>
		</li>
		<li>
			<a href="{{path('produits_par_categorie', {categoryId: 2})}}">Maquillage</a>
			<div>
				<img src="{{ asset('img/logo_maquillage.png') }}" alt="">
			</div>
		</li>
		<li>
			<a href="{{path('produits_par_categorie', {categoryId: 3})}}">Bijoux</a>

			<div>
				<img src="{{ asset('img/bijoux_logo.png') }}" alt="">
			</div>
		</li>
		<li>
			<a href="{{path('produits_par_categorie', {categoryId: 4})}}">Montres</a>
			<div>
				<img src="{{ asset('img/montres_logo.png') }}" alt="">
			</div>
		</li>
	</ul>
</nav>
{% block javascripts %}
	<script src="{{asset('assets/js/navbar.js')}}"></script>
{% endblock %}
