{% extends 'base.html.twig' %}
{% block title %} Récapitulatif {% endblock %}
{% block body %}
	<h1>Mon recapitulatif</h1>
	<div class="confirmation_commande_body">
		{% for i in infos %}
			<div class="liste_panier">
				<div class="info_recap_titres">

					<h4>Image du Produit:</h4>

					<h4>Description</h4>
					<h4>Prix</h4>
					<h4>Taille</h4>
				    <h4>Quantité</h4>	


				</div>
				<div class="info_recap">

					<img src="{{ asset('img/' ~ i.produits.image) }}" alt="Image produit">

					<h4 >{{ i.produits.description}}</h4>

					<h4>{{ i.produits.prix}}
						€</h4>

					<h4>{{ i.data.taille}}</h4>

					<h4>{{ i.data.quantity}}</h4>



				</div>


			</div>
		{% endfor %}
	<p class="d-flex justify-content-end"><span class="me-5">{{totalPrix}} €</span></p>

		<button class="continue_commande" id="continue_to_form">Continuer vers ma commande</button>
	</div>

{% endblock %}
