{% extends 'base.html.twig' %}
{% block title %}
	Récapitulatif
{% endblock %}
{% block body %}
	<h1 class="titre_recap">Détails de la commande</h1>
	<div class="confirmation_commande_body">
		{% for detail in details %}
			<div class="liste_panier">
				<div class="info_recap_titres">

					<h4>Image du Produit</h4>
					<h4>Quantité</h4>
					<h4>Prix</h4>
					<h4>Taille</h4>


				</div>
				<div class="info_recap">

					<img src="{{ asset('img/' ~ detail.getProduit().getImage()) }}" alt="Image produit">

					<h2>{{ detail.getQuantité}}</h2>

					<h2>{{ detail.prix}}€</h2>


					<h2>{{ detail.taille |replace({'_': '-' })}}</h2>


				</div>


			</div>
		{% endfor %}
		<h4  class="facturePdf"><a href="{{path('extrait_pdf' , {'id':idC})}}">Télécharger votre Facture En PDF</a></h4>
		{# <div class="container-fluid">
					<div class="table-responsive" id="tableConfirm">
						{% for i in infos %}
							<table class="table table-borderless">
								<thead>
									<tr>
										<th scope="col">Image du produit</th>
										<th scope="col">Description</th>
										<th scope="col">Prix</th>
										<th scope="col">Taille</th>
										<th scope="col">Quantité</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><img src="{{ asset('img/' ~ i.produits.image) }}" alt="Image produit" width="100%"></td>
										<td>
											<h4>{{ i.produits.description}}</h4>
										</td>
										<td>
											<h4>{{ i.produits.prix}}€</h4>
		
										</td>
										<td>
											<h4>{{ i.data.taille}}</h4>
										</td>
										<td>
											<h4>{{ i.data.quantity}}</h4>
										</td>
									</tr>
		
								</tbody>
							</table>
						{% endfor %}
		
					</div>
				</div> #}


	</div>

{% endblock %}
